<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network"
				from="zags.mogilev@yandex.ru">
				<network
					defaultCredentials="false"
					host="smtp.yandex.ru"
					port="25"
					userName="zags.mogilev"
					password="Pass123456"
					enableSsl="true"/>
			</smtp>
		</mailSettings>
	</system.net>

</configuration>