<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
	<container>
		<register type="MarryMe.Model.Interfaces.ICalendarData, MarryMe.Model"
                  mapTo="MarryMe.Model.TestCalendarData, MarryMe.Model" />
		<register type="MarryMe.Model.Interfaces.IRoomData, MarryMe.Model"
                  mapTo="MarryMe.Model.RoomData, MarryMe.Model" />
	<register type="MarryMe.Model.Interfaces.ICommonController, MarryMe.Model"
                  mapTo="MarryMe.Model.CommonControllerTest, MarryMe.Model" />
	</container>
</unity>