@model MarryMe.Model.ApproveModel
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/approve.css" rel="stylesheet" />
@{
	ViewBag.Title = "Подтверждение регистрации";
	Layout = null;
}

<div class="text-center container">
	<h1>Подтверждение</h1>

	<div>
		<hr />
		<div class="row">
			@if (Model.IsApproved)
			{
				<div class="alert alert-success" role="alert" type="success">
					<h1>Поздравляю, вы успешно зарегистрированы.</h1><br />
				</div>
				<h3>
					Не забудьте подать документы в ЗАГС не позднее чем за 3 дня до церемонии.<br />
				</h3>
				<h3>
					За подробностями можете обратиться в ЗАГС.
				</h3>

			}
			else
			{
				<div class="alert alert-danger" role="alert" type="danger">
					<div class="approve-text">
						<h1>Произошла ошибка подтверждения.</h1><br />
					</div>

					<div class="approve-text">
						@if (!string.IsNullOrWhiteSpace(Model.Message))
						{
							<p>
								@Model.Message
							</p>
						}
					</div>
				</div>
				<div class="approve-text">
					<h3>За дополнительной информацией обращайтесь в ЗАГС.</h3>
				</div>

			}

		</div>
	</div>
</div>