@{
	ViewBag.Title = "Главня Страница";
}

<section id="intro" class="section bg-image">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3">
				<div class="text-center">
					<h1>Регистрация брака</h1>
					<p>На этом сайте вы можете подать заявку на регистрацию брака.</p>
					<a class="btn btn-glass btn-main smooth-scroll" href="#mission">Начать регистрацию</a>
				</div>
			</div>
		</div>
	</div>
</section><!-- /#intro -->

<section class="section" id="mission">
	<div class="container-fluid">
		<div class="responsive-calendar">
			<div class="col-lg-6 half">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">

						<div class="section-header" style="margin-bottom:10px">
							<div class="controls" style="margin-bottom:20px">
								<a class="pull-left" data-go="prev12"><div class="calendar-btn left glyphicon glyphicon-arrow-left" ng-click="yearChange(0)"></div></a>
								<h4 class="calendar-title" style="color:black">Год: <span data-head-year></span></h4>
								<a class="pull-right" data-go="next12"><div class="calendar-btn right glyphicon glyphicon-arrow-right" ng-click="yearChange(1)"></div></a>
							</div>


							<div class="row">
								<div ng-repeat="month in monthsInfo">
									<div class="col-md-4 col-sm-4 col-xs-6" style="padding-right:0px">
										<div class="block text-color form-control resize month-background-color" style="margin-bottom:0px">
											<div class="month-text-color">
												<h3 style="margin-top:5px; margin-bottom:5px">{{month.name}}</h3>
												<h3 style="margin-top:0px; margin-bottom:5px">{{month.persent}}%</h3>
												<div class="progress">
													<div class="progress-bar progress-background" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{month.persent}}%;">
														<span class="sr-only">60% Complete</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>  <!-- Header -->

						<p class="text-lg text-italic text-muted col-lg-12">*в процентах показана занятость месяца.</p>
					</div>
				</div>
			</div>

			<div class="col-lg-6 half">

				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">

						<div class="section-header">
							<div class="controls">
								<a class="pull-left" data-go="prev"><div class="calendar-btn left glyphicon glyphicon-arrow-left"></div></a>
								<h4 class="calendar-title" style="color:black">Месяц: <span data-head-month></span></h4>
								<a class="pull-right" data-go="next"><div class="calendar-btn right glyphicon glyphicon-arrow-right"></div></a>
							</div>
							<hr />
							<div class="day-headers">
								<div class="day header">Пн</div>
								<div class="day header">Вт</div>
								<div class="day header">Ср</div>
								<div class="day header">Чт</div>
								<div class="day header">Пт</div>
								<div class="day header">Сб</div>
								<div class="day header">Вс</div>
							</div>
							<div class="days" data-group="days">

							</div>
						</div>
						<a id="nextButton" class="btn btn-main smooth-scroll btn-pink" style="color:white; margin-bottom:10px" href="#services">Далее</a>
						<p class="text-lg text-italic text-muted col-lg-8 pull-right">Выбранная вами дата: {{selectedDay}} {{selectedMonth}} {{selectedYear}}</p>
					</div>
				</div>
			</div>
		</div><!-- Calendar -->
	</div>
</section><!-- /#mission -->

<section class="section" id="services">
	<div class="container-fluid">

		<div class="col-lg-6 half bird2">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">

					<div class="section-header" style="margin-bottom:10px">
						<h1 class="title field" style="margin-bottom:0px">Выбор времени</h1>
						<h2 class="title field">Для начала выберите зал.</h2>	
					</div>

					<div ng-show="times.length != 0" ng-repeat="time in times | filter:{IsUsing:false}">
						<div class="col-md-3 col-sm-3 col-xs-3" style="padding-left:0px" ng-click="timeClick(time.Time,time)">
							<div class="block text-color form-control time-background-color" ng-class="{'time-background-color-click' : isSelected(time)}" style="margin-bottom:0px; margin-top:3px">
								<div class="time-text-color">
									<h3 style="margin:0px">{{time.Time}}</h3>
								</div>
							</div>
						</div>
					</div>

					@*<a class="btn btn-main smooth-scroll btn-black col-xs-12" style="color: black; margin-bottom: 10px; margin-top:5px; float: left; clear: left; display: inline" href="#portfolio">Далее</a>*@
				</div>
			</div>
		</div>

		<div class="col-lg-6 half bird1">

			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">

					<div class="section-header" style="margin-bottom:10px">
						<h1 class="title field" style="margin-bottom:0px">Выбор зала</h1>
					</div>

					<div class="row">
						<div ng-repeat="hall in halls">
							<div class="col-md-6 col-sm-6 col-xs-6" style="padding-left:5px;padding-right:0px" ng-click="hallClick(hall.Id)">
								<div id="{{hall.Id}}" class="block form-control resize tile hall-background-color">
									<div class="hall-text-color">
										<h3>{{hall.Name}}</h3>
										<p>Описание</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
</section><!-- /#services -->

<section class="section" id="portfolio">
	<div class="container-fluid">
		<form name="inputForm">
			<div id="portfolioPlaceholder" class="col-lg-6 half bg1">
				<div class="row">
					<div class="col-lg-10 col-lg-offset-1">
						<div class="block block-lg form-control form-block tile-blue" color:white">
							<h2>Жених</h2>
							<p>Данные жениха</p>
							<div class="row form-group">
								<div class="col-md-6 col-sm-12 block-lg-label">
									<input type="text" class="form-control tile-blue" placeholder="Имя" name="manFirstName" ng-model="Man.FirstName" required ng-pattern="/^[а-яА-Я]+$/" />
								</div>
								<div class="col-md-6 col-sm-12 block-lg-label">
									<input type="text" class="form-control tile-blue" placeholder="Фамилия" name="manLastName" ng-model="Man.LastName" required ng-pattern="/^[а-яА-Я]+$/" />
								</div>
								<div class="col-md-6 col-sm-12 block-lg-label">
									<input type="text" class="form-control tile-blue" placeholder="Отчество" name="manMiddleName" ng-model="Man.MiddleName" required ng-pattern="/^[а-яА-Я]+$/" />
								</div>
								<div class="col-md-6 col-sm-12 block-lg-label">
									<input type="text" class="form-control tile-blue" placeholder="Телефон" name="manTelephoneNumber" ng-model="Man.TelephoneNumber" ng-pattern="/\+[0-9]{12}/" />
								</div>
								<div class="col-md-6 col-sm-12 block-lg-label">
									<input type="email" class="form-control tile-blue" placeholder="E-mail" name="manEmail" ng-model="Man.Email" />
								</div>
								<div class="col-md-6 col-sm-12 block-lg-label">
									<input type="text" class="form-control tile-blue" placeholder="Номер паспорта" name="manPassportNumber" ng-model="Man.PassportNumber" />
								</div>
							</div>
						</div>
						<a class="btn btn-main smooth-scroll btn-blue pull-right" style="color:white; margin-bottom:10px" href="#services">Назад</a>
					</div>
				</div>
			</div>

			<div class="col-lg-6 half bg2">

				<div class="row">
					<div class="col-lg-10 col-lg-offset-1">

						<div class="block block-lg form-control form-block tile-pink" color:white">
							<h2>Невеста</h2>
							<p>Данные невесты</p>
							<div class="row form-group">
								<div class="col-md-6 col-sm-12 block-lg-label">
									<input type="text" class="form-control tile-pink" placeholder="Имя" name="womanFirstName" ng-model="Woman.FirstName" required ng-pattern="/^[а-яА-Я]+$/" />
								</div>
								<div class="col-md-6 col-sm-12 block-lg-label">
									<input type="text" class="form-control tile-pink" placeholder="Фамилия" name="womanLastName" ng-model="Woman.LastName" required ng-pattern="/^[а-яА-Я]+$/" />
								</div>
								<div class="col-md-6 col-sm-12 block-lg-label">
									<input type="text" class="form-control tile-pink" placeholder="Отчество" name="womanMiddleName" ng-model="Woman.MiddleName" required ng-pattern="/^[а-яА-Я]+$/" />
								</div>
								<div class="col-md-6 col-sm-12 block-lg-label">
									<input type="text" class="form-control tile-pink" placeholder="Телефон" name="womanTelephoneNumber" ng-model="Woman.TelephoneNumber" ng-pattern="/\+[0-9]{12}/" />
								</div>
								<div class="col-md-6 col-sm-12 block-lg-label">
									<input type="email" class="form-control tile-pink" placeholder="E-mail" name="womanEmail" ng-model="Woman.Email" />
								</div>
								<div class="col-md-6 col-sm-12 block-lg-label">
									<input type="text" class="form-control tile-pink" placeholder="Номер паспорта" name="womanPassportNumber" ng-model="Woman.PassportNumber" />
								</div>
							</div>
						</div>
						<a class="btn btn-main smooth-scroll btn-pink" style="color:white; margin-bottom:10px" ng-click="applyForm()">Подтвердить</a>
					</div>
					<ul>
						<li style="color:red"
							ng-show="
            inputForm.manFirstName.$dirty && inputForm.manFirstName.$error.required  ||
            inputForm.manLastName.$dirty && inputForm.manLastName.$error.required ||
            inputForm.manMiddleName.$dirty && inputForm.manMiddleName.$error.required ||
            inputForm.womanFirstName.$dirty && inputForm.womanFirstName.$error.required ||
            inputForm.womanLastName.$dirty && inputForm.womanLastName.$error.required ||
            inputForm.womanMiddleName.$dirty && inputForm.womanMiddleName.$error.required
            ">Заполните обязательные поля</li>
						<li style="color:red"
							ng-show="inputForm.manEmail.$dirty && inputForm.manEmail.$error.email ||
            inputForm.womanEmail.$dirty && inputForm.womanEmail.$error.email
            ">Не верный e-mail</li>
						<li style="color:red"
							ng-show="
            inputForm.manFirstName.$dirty && inputForm.manFirstName.$error.pattern  ||
            inputForm.manLastName.$dirty && inputForm.manLastName.$error.pattern ||
            inputForm.manMiddleName.$dirty && inputForm.manMiddleName.$error.pattern ||
            inputForm.womanFirstName.$dirty && inputForm.womanFirstName.$error.pattern ||
            inputForm.womanLastName.$dirty && inputForm.womanLastName.$error.pattern ||
            inputForm.manMiddleName.$dirty && inputForm.manMiddleName.$error.pattern
            ">Используйте русские буквы</li>
						<li style="color:red"
							ng-show="inputForm.manTelephoneNumber.$error.pattern && inputForm.womanTelephoneNumber.$error.pattern">Заполните хотябы одно поле с номером телефона</li>
					</ul>
				</div>
			</div>
		</form>
	</div>

</section><!-- /#portfolio -->

<section class="section" id="contact">
	<div class="container-fluid">

		<div class="col-lg-6 half" ng-controller="mapCtrl">
			<ui-gmap-google-map center='map.center' zoom='map.zoom'>
				<ui-gmap-marker coords="marker.coords" idkey="marker.idKey" options="marker.options">
				</ui-gmap-marker>
			</ui-gmap-google-map>
		</div>

		<div class="col-lg-6 half">

			<div class="row">
				<div class="col-lg-8 col-lg-offset-2" style="position: fixed; top: 50%; left: 50%; margin-left:-150px;margin-top:-150px">

					<div class="section-header">
						<h2>Контактные данные</h2>
					</div>

					<div class="form-horizontal">
						<p>Наш телефон: 34-34-34</p>
						<p>Наш e-mail: zags@gmail.com</p>
					</div>

				</div>
			</div>

		</div>

	</div>
</section><!-- /#contact -->
@*<nav id="vertical-nav">
		<ul>
			<li><a href="#0" class="prev btn btn-main smooth-scroll btn-black" style="color: black; padding:10px; margin-left: 50px">Назад</a></li>
			<li><a href="#0" class="next btn btn-main smooth-scroll btn-black" style="color: black; padding:10px; margin-left: 50px">Далее</a></li>
		</ul>
	</nav>*@<!-- /#vertical-nav -->