@{
	ViewBag.Title = "Index";
}

@* ВЫБОР ДАТЫ (МЕСЯЦЫ) *@

<h1 class="title">Выбор даты (месяц)</h1>
<div class="responsive-calendar">
	<div class="controls" style="margin-bottom:20px">
		<a class="pull-left" data-go="prev12"><div class="calendar-btn left glyphicon glyphicon-arrow-left"></div></a>
		<h4 class="calendar-title"><span data-head-year></span></h4>
		<a class="pull-right" data-go="next12"><div class="calendar-btn right glyphicon glyphicon-arrow-right"></div></a>
	</div>

	<div class="row">
		<div class="col-md-2 col-sm-4 col-xs-6">
			<div class="">
				<div class="block text-color form-control resize month-background-color" style="height:100px;">
					<div class="month-text-color">
						<h3>Январь</h3>
						<h4>50%</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6">
			<div class="block text-color form-control resize month-background-color" style="height: 100px;">
				<div class="month-text-color">
					<h3>Февраль</h3>
					<h4>50%</h4>
				</div>
			</div>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6">
			<div class="block text-color form-control resize month-background-color" style="height: 100px;">
				<div class="month-text-color">
					<h3>Март</h3>
					<h4>50%</h4>
				</div>
			</div>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6">
			<div class="block text-color form-control resize month-background-color" style="height: 100px;">
				<div class="month-text-color">
					<h3>Апрель</h3>
					<h4>50%</h4>
				</div>
			</div>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6">
			<div class="block text-color form-control resize month-background-color" style="height: 100px;">
				<div class="month-text-color">
					<h3>Май</h3>
					<h4>50%</h4>
				</div>
			</div>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6">
			<div class="block text-color form-control resize month-background-color" style="height: 100px;">
				<div class="month-text-color">
					<h3>Июнь</h3>
					<h4>50%</h4>
				</div>
			</div>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6">
			<div class="block text-color form-control resize month-background-color" style="height: 100px;">
				<div class="month-text-color">
					<h3>Июль</h3>
					<h4>50%</h4>
				</div>
			</div>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6">
			<div class="block text-color form-control resize month-background-color" style="height: 100px;">
				<div class="month-text-color">
					<h3>Август</h3>
					<h4>50%</h4>
				</div>
			</div>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6">
			<div class="block text-color form-control resize month-background-color" style="height: 100px;">
				<div class="month-text-color">
					<h3>Сентябрь</h3>
					<h4>50%</h4>
				</div>
			</div>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6">
			<div class="block text-color form-control resize month-background-color" style="height: 100px;">
				<div class="month-text-color">
					<h3>Октябрь</h3>
					<h4>50%</h4>
				</div>
			</div>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6">
			<div class="block text-color form-control resize month-background-color" style="height: 100px;">
				<div class="month-text-color">
					<h3>Ноябрь</h3>
					<h4>50%</h4>
				</div>
			</div>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6">
			<div class="block text-color form-control resize month-background-color" style="height: 100px;">
				<div class="month-text-color">
					<h3>Декабрь</h3>
					<h4>50%</h4>
				</div>
			</div>
		</div>
	</div>
</div>
<hr />

@* ВЫБОР ДАТЫ (ДНИ) *@
<h1 class="title">Выбор даты (день)</h1>
<div class="responsive-calendar">
	<div class="controls">
		<a class="pull-left" data-go="prev"><div class="calendar-btn left glyphicon glyphicon-arrow-left"></div></a>
		<h4 class="calendar-title"><span data-head-year></span> <span data-head-month></span></h4>
		<a class="pull-right" data-go="next"><div class="calendar-btn right glyphicon glyphicon-arrow-right"></div></a>
	</div>

	<hr />

	<div class="day-headers">
		<div class="day header">Пн</div>
		<div class="day header">Вт</div>
		<div class="day header">Ср</div>
		<div class="day header">Чт</div>
		<div class="day header">Пт</div>
		<div class="day header">Сб</div>
		<div class="day header">Вс</div>
	</div>
	<div class="days" data-group="days">

	</div>
</div>

@* ВЫБОР ЗАЛА *@
<hr />
<h1 class="title field">Выбор зала</h1>
<div class="row">
	<div class="col-md-4 col-sm-4 col-xs-6">
		<div class="block text-color form-control resize tile">
			<h3>Бриллиантовый</h3>
			<p>Описание</p>
		</div>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-6">
		<div class="block text-color form-control resize tile">
			<h3>Золотой</h3>
			<p>Описание</p>
		</div>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-6">
		<div class="block text-color form-control resize tile">
			<h3>Розовый</h3>
			<p>Описание</p>
		</div>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-6">
		<div class="block text-color form-control resize tile">
			<h3>Хрустальный</h3>
			<p>Описание</p>
		</div>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-6">
		<div class="block text-color form-control resize tile">
			<h3>Без торжества</h3>
			<p>Описание</p>
		</div>
	</div>
</div>

@* ВЫБОР ВРЕМЕНИ *@
<hr />
<h1 class="title field">Выбор времени</h1>

<div ng-show="dayTimes == null">
    Выберите дату. Дата должна быть не раньше чем через 3 дня от текущей.
</div>

@* ЛИЧНЫЕ ДАННЫЕ *@
<hr />
<h1 class="title field">Личные данные</h1>
<form name="inputForm">
<div class="row">
	<div class="col-md-6 col-sm-6 col-xs-12">
		<div class="block block-lg form-control form-block" color:white">
			<h2>Жених</h2>
			<p>Данные жениха</p>
			<div class="row form-group">
				<div class="col-md-6 col-sm-12 block-lg-label">
                    <input type="text" class="form-control" placeholder="Имя" name="bridegroomName" ng-model="bridegroom.name" required ng-pattern="/^[а-яА-Я]+$/" />                   
				</div>
				<div class="col-md-6 col-sm-12 block-lg-label">
                    <input type="text" class="form-control" placeholder="Фамилия" name="bridegroomSurName" ng-model="broom.surName" required ng-pattern="/^[а-яА-Я]+$/" />
				</div>
				<div class="col-md-6 col-sm-12 block-lg-label">
                    <input type="text" class="form-control" placeholder="Отчество" name="bridegroomMiddleName" ng-model="bridegroom.middleName" required ng-pattern="/^[а-яА-Я]+$/" />
				</div>
				<div class="col-md-6 col-sm-12 block-lg-label">
                    <input type="text" class="form-control" placeholder="Телефон" name="bridegroomPhoneNumber" ng-model="bridegroom.phoneNumber" ng-pattern="/\+[0-9]{12}/"/>
				</div>
				<div class="col-md-6 col-sm-12 block-lg-label">
                    <input type="email" class="form-control" placeholder="E-mail" name="bridegroomEmail" ng-model="bridegroom.email" />
				</div>
				<div class="col-md-6 col-sm-12 block-lg-label">
                    <input type="text" class="form-control" placeholder="Номер паспорта" name="bridegroomPersinalNumber" ng-model="bridegroom.personalNumber" />
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-6 col-xs-12">
		<div class="block block-lg form-control form-block" color:white">
			<h2>Невеста</h2>
			<p>Данные невесты</p>
			<div class="row form-group">
				<div class="col-md-6 col-sm-12 col-xs-12 block-lg-label">
                    <input type="text" class="form-control" placeholder="Имя" name="brideName" ng-model="bride.name" required ng-pattern="/^[а-яА-Я]+$/" />
				</div>
				<div class="col-md-6 col-sm-12 block-lg-label">
                    <input type="text" class="form-control" placeholder="Фамилия" name="brideSurName" ng-model="bride.surName" required ng-pattern="/^[а-яА-Я]+$/" />
				</div>
				<div class="col-md-6 col-sm-12 block-lg-label">
                    <input type="text" class="form-control" placeholder="Отчество" name="brideMiddleName" ng-model="bride.middleName" required ng-pattern="/^[а-яА-Я]+$/" />
				</div>
				<div class="col-md-6 col-sm-12 block-lg-label">
                    <input type="text" class="form-control" placeholder="Телефон" name="bridePhoneNumber" ng-model="bride.phoneNumber" ng-pattern="/\+[0-9]{12}/"  />
				</div>
				<div class="col-md-6 col-sm-12 block-lg-label">
                    <input type="email" class="form-control" placeholder="E-mail" name="brideEmail" ng-model="bride.email"/>
				</div>
				<div class="col-md-6 col-sm-12 block-lg-label">
                    <input type="text" class="form-control" placeholder="Номер паспорта" name="bridePersonalNumber" ng-model="bride.personalNumber" />
				</div>
			</div>
		</div>
	</div>
</div>
    <ul>
        <li style="color:red"
            ng-show="(inputForm.bridegroomName.$dirty && inputForm.bridegroomName.$error.required)  || 
            (inputForm.bridegroomSurName.$dirty && inputForm.bridegroomSurName.$error.required) ||
            (inputForm.bridegroomMiddleName.$dirty && inputForm.bridegroomMiddleName.$error.required) ||
            (inputForm.brideName.$dirty && inputForm.brideName.$error.required) ||
            (inputForm.brideSurName.$dirty && inputForm.brideSurName.$error.required) ||
            (inputForm.brideMiddleName.$dirty && inputForm.brideMiddleName.$error.required)
            ">Заполните обязательные поля</li>
        <li style="color:red"
            ng-show="inputForm.bridegroomEmail.$dirty && inputForm.bridegroomEmail.$error.email ||
            inputForm.brideEmail.$dirty && inputForm.brideEmail.$error.email
            ">Не верный e-mail</li>
        <li style="color:red"
            ng-show="inputForm.bridegroomName.$dirty && inputForm.bridegroomName.$error.pattern  ||
            inputForm.bridegroomSurName.$dirty && inputForm.bridegroomSurName.$error.pattern ||
            inputForm.bridegroomMiddleName.$dirty && inputForm.bridegroomMiddleName.$error.pattern ||
            inputForm.brideName.$dirty && inputForm.brideName.$error.pattern ||
            inputForm.brideSurName.$dirty && inputForm.brideSurName.$error.pattern ||
            inputForm.brideMiddleName.$dirty && inputForm.brideMiddleName.$error.pattern
            ">Используйте русские буквы</li>
        <li style="color:red" 
            ng-show="inputForm.bridegroomPhoneNumber.$error.pattern && inputForm.bridePhoneNumber.$error.pattern"
            >Заполните хотябы одно поле с номером телефона</li>
    </ul>    
<div class="btn-submit">
	<button type="submit" class="btn btn-glass btn-color" ng-disabled="inputForm.$invalid">Отправить заявку</button>
</div>
</form>


