@{
	ViewBag.Title = "Index";
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>How to Integrate Google “No CAPTCHA reCAPTCHA” on Your Website</title>
</head>

<body>

	<form action="" method="post">

		<label for="name">Name:</label>
		<input name="name" required><br />

		<label for="email">Email:</label>
		<input name="email" type="email" required><br />

		<div class="g-recaptcha" data-sitekey="6LcePAATAAAAAGPRWgx90814DTjgt5sXnNbV5WaW"></div>

		<input type="submit" value="Submit" />

	</form>

	<!--<ul>
						<li style="color:red"
							ng-show="
			inputForm.manFirstName.$dirty && inputForm.manFirstName.$error.required  ||
			inputForm.manLastName.$dirty && inputForm.manLastName.$error.required ||
			inputForm.manMiddleName.$dirty && inputForm.manMiddleName.$error.required ||
			inputForm.womanFirstName.$dirty && inputForm.womanFirstName.$error.required ||
			inputForm.womanLastName.$dirty && inputForm.womanLastName.$error.required ||
			inputForm.womanMiddleName.$dirty && inputForm.womanMiddleName.$error.required
			">Заполните обязательные поля</li>
						<li style="color:red"
							ng-show="inputForm.manEmail.$dirty && inputForm.manEmail.$error.email ||
			inputForm.womanEmail.$dirty && inputForm.womanEmail.$error.email
			">Не верный e-mail</li>
						<li style="color:red"
							ng-show="
			inputForm.manFirstName.$dirty && inputForm.manFirstName.$error.pattern  ||
			inputForm.manLastName.$dirty && inputForm.manLastName.$error.pattern ||
			inputForm.manMiddleName.$dirty && inputForm.manMiddleName.$error.pattern ||
			inputForm.womanFirstName.$dirty && inputForm.womanFirstName.$error.pattern ||
			inputForm.womanLastName.$dirty && inputForm.womanLastName.$error.pattern ||
			inputForm.manMiddleName.$dirty && inputForm.manMiddleName.$error.pattern
			">Используйте русские буквы</li>
						<li style="color:red"
							ng-show="inputForm.manTelephoneNumber.$error.pattern && inputForm.womanTelephoneNumber.$error.pattern">Заполните хотябы одно поле с номером телефона</li>
					</ul>-->


	<!--js-->
	<script src='https://www.google.com/recaptcha/api.js'></script>

</body>
</html>