@{
	ViewBag.Title = "MarryMe";
}
<div ng-controller="appCtrl">
	<section id="intro">
		<div id="introImage" class="overlay-dark bg-img full-screen-intro" data-parallax="scroll" data-image-src="/img/mount-sky.jpg">
			<canvas id="pollyfill-canvas1"></canvas>
		</div>
		<div class="full-cap-wrapper">
			<div class="content-caption">
				<div class="container">
					<h1 class="intro-text" style="margin-bottom:20px">Регистрация брака</h1>
					<h4 class="intro-text">На этом сайте вы можете подать заявку на регистрацию брака.</h4>
					<br />
					<div>
						<a class="btn btn-glass btn-main smooth-scroll intro-btn" href="#mission">Начать регистрацию</a>
					</div>
				</div>
			</div>
		</div>
	</section><!-- /#intro -->


	<div id="missionImage" class="overlay-dark bg-img full-screen-intro" data-parallax="scroll">
		<section style="width: 100%;  height: 100%;  overflow: hidden; margin-bottom:30px" id="mission">
			<div class="content-caption display-default">
				<div class="container-fluid">
					<h1 class="center-element site-section" style="margin-bottom:10px">Выбор даты</h1>
					<div class="separator"></div>
					<div class="responsive-calendar">
						<div class="col-lg-6">
							<div class="row">
								<div class="col-lg-9 col-lg-offset-1">

									<div class="section-header" style="margin-bottom:10px">
										<div class="controls" style="margin-bottom:20px">
											<a class="pull-left"><div class="calendar-btn left glyphicon glyphicon-arrow-left" ng-click="yearChange(0)"></div></a>
											<h4 class="calendar-title" style="color:black">Год: <span data-head-year></span></h4>
											<a class="pull-right"><div class="calendar-btn right glyphicon glyphicon-arrow-right" ng-click="yearChange(1)"></div></a>
										</div>

										<div class="row">
											<div ng-repeat="month in monthsInfo">
												<div class="col-md-4 col-sm-4 col-xs-6" style="padding-right:0px" ng-click="monthClick(month.name,month)">
													<div class="block text-color form-control resize month-background-color" ng-class="{'month-background-color-click' : isSelectedMonth(month)}" style="margin-bottom:0px">
														<div class="month-text-color">
															<h3 style="margin-top:5px; margin-bottom:5px">{{month.name}}</h3>
															<h4 style="margin-top:0px; margin-bottom:5px">Свободных мест: {{month.persent}}</h4>
														</div>
													</div>
												</div>
											</div>
										</div>

									</div>  <!-- Header -->

								</div>
							</div>
						</div>

						<div class="col-lg-6">

							<div class="row">
								<div class="col-lg-9 col-lg-offset-1">

									<div class="section-header" style="margin-bottom:10px">
										<div class="controls">
											<h4 class="calendar-title" style="color:black">Месяц: <span data-head-month></span></h4>
										</div>
										<hr />
										<div class="day-headers">
											<div class="day header">Пн</div>
											<div class="day header">Вт</div>
											<div class="day header">Ср</div>
											<div class="day header">Чт</div>
											<div class="day header">Пт</div>
											<div class="day header">Сб</div>
											<div class="day header">Вс</div>
										</div>
										<div class="days" data-group="days">

										</div>
									</div>
									<div class="col-lg-2">
										<a id="nextButton" class="btn btn-main smooth-scroll btn-pink" style="color:white; margin-bottom:10px" href="#services">Далее</a>
									</div>
									<h4 class="text-lg text-italic text-muted col-lg-8 pull-right" style="color:black; margin-top:15px">Выбранная вами дата: {{selectedDay}} {{selectedMonth}} {{selectedYear}}</h4>
								</div>
							</div>
						</div>
					</div><!-- Calendar -->
				</div>
			</div>
		</section><!-- /#mission -->
	</div>

	<div id="introImage" class="overlay-dark bg-img full-screen-intro" data-parallax="scroll" data-image-src="/img/Part23.jpg">
		<canvas id="pollyfill-canvas1"></canvas>
	</div>

	<div id="servicesImage">
		<section id="services" style="width: 100%;  height: 100%;  overflow: hidden;  position: relative;margin-bottom:50px">
			<div class="container-fluid">
				<h1 class="center-element site-section">Выбор зала и времени</h1>
				<div class="separator"></div>
				<div class="col-lg-6">
					<div class="row">
						<div class="col-lg-9 col-lg-offset-1">

							<div class="section-header" style="margin-bottom:10px">
								<h1 class="title field" style="margin-bottom:40px">Залы</h1>
							</div>

							<div class="row">
								<div ng-repeat="hall in halls">
									<div class="col-lg-6 col-md-3 col-sm-6 col-xs-6 hall" style="cursor:pointer" ng-click="hallClick(hall.Id)" ng-class="{'hall-background-opacity' : isSelectedHall(hall.Id)}">
										<div id="{{hall.Id}}" ng-style="myStyleFunction(hall)" class="hall-bg-image">
											<div class="hall-text-color">
												<h3 style="color:black">{{hall.Name}}</h3>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="row">
						<div class="col-lg-9 col-lg-offset-1">

							<div class="section-header" style="margin-bottom:10px">
								<h1 class="title field" style="margin-bottom:40px">Время</h1>
								<h2 ng-hide="timeElement1" class="title field">Выберите дату.</h2>
								<h2 ng-hide="timeElement" class="title field">Выберите зал.</h2>
							</div>

							<div id="timeLoader" ng-hide="timeLoader" style="z-index:10">
								<div class="spinner">
									<div class="spinner-container container1">
										<div class="circle1"></div>
										<div class="circle2"></div>
										<div class="circle3"></div>
										<div class="circle4"></div>
									</div>
									<div class="spinner-container container2">
										<div class="circle1"></div>
										<div class="circle2"></div>
										<div class="circle3"></div>
										<div class="circle4"></div>
									</div>
									<div class="spinner-container container3">
										<div class="circle1"></div>
										<div class="circle2"></div>
										<div class="circle3"></div>
										<div class="circle4"></div>
									</div>
								</div>
							</div>

							<div ng-hide="timeNextButton" ng-show="times.length != 0" ng-repeat="time in times | filter:{IsUsing:false}" style="z-index:100">
								<div class="col-md-3 col-sm-3 col-xs-4" style="padding-left:0px" ng-click="timeClick(time.Time,time)">
									<div class="block text-color form-control time-background-color" ng-class="{'time-background-color-click' : isSelectedTime(time)}" style="margin-bottom:0px; margin-top:3px">
										<div class="time-text-color" ng-class="{'time-h-color' : isSelectedTime(time)}">
											<h3 style="margin:0px">{{time.Time}}</h3>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section><!-- /#services -->
	</div>
</div>
<section id="contact">
	<div class="container-fluid" style="padding:0px">
		<h1 class="center-element site-section" style="margin-top:70px; margin-bottom:10px">Контакты</h1>
		<div class="separator"></div>

		<div class="col-lg-12">
			<div class="row">

				<div class="form-horizontal" style="text-align:center; margin-bottom:50px">
					<h3>Наш телефон:  22-55-34, 22-42-33</h3>
					<h3>@DateTime.Now.Year – Могилевский ЗАГС</h3>
				</div>
			</div>
		</div>

		<div class="col-lg-12" ng-controller="mapCtrl" style="padding:0px">
			<ui-gmap-google-map center='map.center' zoom='map.zoom'>
				<ui-gmap-marker coords="marker.coords" idkey="marker.idKey" options="marker.options">
				</ui-gmap-marker>
			</ui-gmap-google-map>
		</div>

	</div>
</section>
