
.addthis_toolbox {
	position: fixed;
	top: 30%;
	left: -5px;
	border: 1px solid #ddd;
	padding: 5px 5px 4px;
	width: 32px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

	.addthis_toolbox .custom_images a {
		width: 32px;
		height: 32px;
		cursor: pointer;
	}

		.addthis_toolbox .custom_images a img {
			border: 0;
			margin: 2px 0;
			opacity: 0.6;
		}

		.addthis_toolbox .custom_images a:hover img {
			margin: 2px 0;
			opacity: 1.0;
		}
