/*#intro.bg-image .container-fluid {
	background-image: url("../../img/superfamous-05.jpg");
}

#about .half.bg {
	background-image: url("../../img/superfamous-03.jpg");
	background-size: cover;
}

#mission .half.bg {
	background-image: url("../../img/superfamous-05.jpg");
	background-size: cover;
}

.bg1 {
	background: url("../../img/date1.jpg") 100% 0 no-repeat;
}

.bg2 {
	background: url("../../img/date2.jpg");
}

.bird1 {
	background: url("../../img/Part21.jpg") 100% 0 no-repeat;
}

.bird2 {
	background: url("../../img/Part22.jpg");
}

.grass1 {
	background: url("../../img/wedding-wallpapers-free-download-6 1.jpg") 100% 0 no-repeat;
}

.grass2 {
	background: url("../../img/wedding-wallpapers-free-download-6 2.jpg");
}

#services .half.bg {
	background-image: url("../../img/superfamous-01.jpg");
	background-size: cover;
}

#portfolio .half.bg {
	background-image: url("../../img/superfamous-02.jpg");
	background-size: cover;
}

#contact .half.bg {
	background-image: url("../../img/superfamous-07.jpg");
	background-size: cover;
}*/

.introBgImage {
	background-image: url("../../img/mount-sky.jpg");
}

.missionBgImage {
	background-image: url("../../img/wedding-wallpapers-free-download-6.jpg");
}

.servicesBgImage {
	background-image: url("../../img/Part23.jpg");
}

.portfolioBgImage {
	background-image: url("../../img/date3.jpg");
}
