.introBgImage {
	background-image: url("../../img/mount-sky.jpg");
}

.missionBgImage {
	background-image: url("../../img/wedding-wallpapers-free-download-6.jpg");
}

.servicesBgImage {
	background-image: url("../../img/Part23.jpg");
}

.portfolioBgImage {
	background-image: url("../../img/date3.jpg");
}
