.month-background-color {
	height: 85px;
}

.body-red .month-background-color {
	background: linear-gradient(to right,#e74c3c 50%,white 50%);
	border: 3px solid #e74c3c;
}

	.body-red .month-background-color:hover {
		cursor: pointer;
	}

.body-red .month-text-color {
	background: -webkit-linear-gradient(right,#e74c3c 50%,white 50%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.month-background-color {
	/*color: #3498db;*/
	color: black;
	background: rgba(255, 255, 255, 0.00);
	border: 2px solid #3498db;
	-webkit-transition: background 300ms, color 300ms, border 300ms;
	-moz-transition: background 300ms, color 300ms, border 300ms;
	transition: background 300ms, color 300ms, border 300ms;
}

	.month-background-color:hover {
		cursor: pointer;
	}

.month-background-color-click {
	background: rgb(255, 255, 255);
}

.progress-background {
	background: #3498db;
}

.month-text-color {
	color: black;
}

.body-green .month-background-color {
	background: linear-gradient(to right,#2ecc71 50%,white 50%);
	border: 3px solid #2ecc71;
}

	.body-green .month-background-color:hover {
		cursor: pointer;
	}

.body-green .month-text-color {
	background: -webkit-linear-gradient(right,#2ecc71 50%,white 50%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.body-asphalt .month-background-color {
	background: linear-gradient(to right,#34495e 50%,white 50%);
	border: 3px solid #34495e;
}

	.body-asphalt .month-background-color:hover {
		cursor: pointer;
	}

.body-asphalt .month-text-color {
	background: -webkit-linear-gradient(right,#34495e 50%,white 50%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
